.strip {
    min-height: 350px;
    background-image: url(https://images.pexels.com/photos/7991139/pexels-photo-7991139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
);
    background-position: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
}


.strip h2 {
    color: rgb(106, 109, 124);
    font-size: 6em;
}

header {
    background-color: red;
    color: aqua;
    padding: 8px;
}